[submodule "svelte-aui"]
	path = svelte-aui
	url = https://github.com/autr/svelte-aui
	branch = master
[submodule "svelte-touch-os"]
	path = svelte-touch-os
	url = https://github.com/autr/svelte-touch-os
	branch = master
[submodule "wireless-tools"]
	path = wireless-tools
	url = https://github.com/autr/wireless-tools.git
	branch = master
[submodule "sassis"]
	path = sassis
	url = https://github.com/autr/sassis.git
